<div *ngIf="form" class="main-container">
  <form [formGroup]="form" (ngSubmit)="crear(form.value)" id="form_edit">

    <mat-form-field appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput type="text" placeholder="Titulo" formControlName="title" required>
      <mat-error *ngIf="form.controls.title.invalid">Debe agregar un titulo.</mat-error>
      <mat-icon matSuffix>title</mat-icon>
    </mat-form-field>
    <span *ngIf="title_uniq_error" class="error-title">{{ title_uniq_error }}</span>

    <app-tag-input *ngIf="allTags && current_tags" [tags]="current_tags" [allTags]="allTags"
      [tagCtrl]="form.controls.tags">
    </app-tag-input>

    <editor formControlName="post_text" [init]="tinymceInit()"></editor>

    <div class="action-buttons-container">
      <button mat-button mat-raised-button class="new-buttons" color="primary" [disabled]="form.invalid">
        <mat-icon>save</mat-icon> Enviar
      </button>
      <a mat-button mat-raised-button class="new-buttons" color="warn" [routerLink]="['/profile/view']">
        Cancelar
      </a>
    </div>

  </form>
</div>