@media only screen and (max-width: 360px) {
  .main-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .divprofile {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: stretch;
    padding: unset;
    margin: 10px 10px;
    box-shadow: 0.1px 0.1px 0px 0px #000000cc;
  }

  .divavatarnoposts {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: stretch;
    padding: unset;
    margin: 10px 10px;
    box-shadow: 0.1px 0.1px 0px 0px #000000cc;
  }

  .div-list-posts {
    margin: 10px 10px;
  }
}

@media only screen and (min-width: 361px) {
  .main-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .divprofile {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: unset;
    margin: 10px 10px;
    box-shadow: 0.1px 0.1px 0px 0px #000000cc;
  }

  .divavatarnoposts {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: stretch;
    padding: unset;
    margin: 10px 10px;
    box-shadow: 0.1px 0.1px 0px 0px #000000cc;
  }

  .div-list-posts {
    margin: 10px 10px;
  }

  .button-newpost {
    margin: 10px;
    float: left;
  }

}

@media only screen and (min-width: 600px) {
  .main-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .divprofile {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: stretch;
    width: 50%;
    padding: unset;
    margin: 10px 10px;
    box-shadow: 0.1px 0.1px 0px 0px #000000cc;
  }

  .divavatarnoposts {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: stretch;
    width: 90%;
    padding: unset;
    margin: 10px 10px;
    box-shadow: 0.1px 0.1px 0px 0px #000000cc;
  }

  .div-list-posts {
    width: 90%;
    margin: 10px 10px;
  }

  .button-newpost {
    margin: 10px;
    float: right;
  }

}

@media only screen and (min-width: 992px) {
  .main-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .divprofile {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    align-items: stretch;
    width: 90%;
    padding: unset;
    margin: 10px 10px;
    box-shadow: 0.1px 0.1px 0px 0px #000000cc;
  }

  .divavatarnoposts {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: stretch;
    width: 90%;
    padding: unset;
    margin: 10px 10px;
    box-shadow: 0.1px 0.1px 0px 0px #000000cc;
  }

  .div-list-posts {
    width: 90%;
    margin: 10px 10px;
  }

  .button-newpost {
    margin: 10px;
    float: right;
  }

}

.first-line {
  color: #fff;
  font-size: 20pt;
}

.second-line {
  color: #fff;
  font-size: 16pt;
}

.example-spacer {
  flex: 1 1 auto;
}

.avatar-image {
  border-radius: 100%;
  width: 100%;
  max-width: 200px;
  height: auto;  
}

.div-avatar {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: #3f51b5;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.profile-list {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title-posts {
  text-align: center;
  margin-bottom: 0;
}

.link-icon-button:hover {
  cursor: pointer;
}