<div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center start" fxLayoutAlign="center center" fxFlex="100">
  <mat-card fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="stretch stretch" fxFlex.gt-md="40"
    fxFlex.gt-sm="50" fxFlex.gt-xs="70" fxFlex="100" *ngIf="userdata">

    <div class="div-avatar" fxLayout="column" fxLayoutAlign="space-around center" fxFlex="35">
      <div *ngIf="userdata.avatar_url" mat-card-avatar class="example-header-image"
        style="background-image: url('{{ userdata.avatar_url }}');">
      </div>
      <div *ngIf="!userdata.avatar_url" mat-card-avatar class="example-header-image"
        style="background-image: url('/static/images/default.png');"></div>
      <div fxLayout="column" fxLayoutAlign="center center">
          <p class="first-line"> Usuario </p>
          <p class="second-line"> {{ userdata.username }} </p>
      </div>
      <a mat-button mat-raised-button [routerLink]="['/profile/edit']" routerLinkActive="router-link-active">EDITAR</a>
    </div>
          
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">

      <mat-list fxLayout="column" fxLayoutAlign="start stretch">
        
        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Nombre y apellido -->
          <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line> Nombre </div>
            <div mat-line> {{ userdata.first_name }} {{ userdata.last_name }} </div>
          </mat-list-item>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Correo -->
          <mat-list-item>
            <mat-icon mat-list-icon>mail</mat-icon>
            <div mat-line> Correo </div>
            <div mat-line> {{ userdata.email }} </div>
          </mat-list-item>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Genero -->
          <mat-list-item>
            <mat-icon mat-list-icon>wc</mat-icon>
            <div mat-line> Genero </div>
            <div mat-line> {{ userdata.gender }} </div>
          </mat-list-item>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Localizacion -->
          <mat-list-item>
            <mat-icon mat-list-icon>location_city</mat-icon>
            <div mat-line> Localizacion </div>
            <div mat-line> {{ userdata.location }} </div>
          </mat-list-item>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Informacion -->
          <mat-list-item>
            <mat-icon mat-list-icon>info</mat-icon>
            <div mat-line> Informacion </div>
            <div mat-line> {{ userdata.information }} </div>
          </mat-list-item>
        </div>

      </mat-list>

    </mat-card-content>

  </mat-card>

  <div fxLayout="column" fxLayoutAlign="space-between end">
    <mat-list *ngIf="posts.length > 0" fxLayout="column" fxLayoutAlign="start start" fxFlex="50" class="list-posts">
      <mat-list-item *ngFor="let post of posts">
        <a [routerLink]="['/profile/view']"><mat-icon color="warn">delete</mat-icon></a>
        <a [routerLink]="['/posts/edit/'+ post.id]"><mat-icon color="primary">edit</mat-icon></a>
        <a [routerLink]="['/posts/view/'+ post.id]"><mat-icon color="primary">remove_red_eye</mat-icon></a>
        
        <div mat-line>{{post.title}}</div>
        <div mat-line> {{post.post_date | date}} </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <a [routerLink]="['/posts/new']" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </a>
  </div>
</div>
