<div gdAreas="header header | sidenav content" gdRows="auto auto" gdColumns="100%">
  
  <!-- Navbar (Barra superior) -->
  <div gdArea="header">
    <app-toolbar></app-toolbar>
  </div>
  

  <mat-drawer-container class="main-container">

    <!-- Sidenav (Barra lateral) -->
    <mat-drawer opened mode="side" class="sidenav-right" gdArea="sidenav">
      <app-sidenav></app-sidenav>
    </mat-drawer>

    <!-- Contenido -->
    <mat-drawer-content gdArea="content">
      <router-outlet></router-outlet>
    </mat-drawer-content>

  </mat-drawer-container>

</div>
