<div>
  <!-- Navbar (Barra superior) -->
  <div>
    <app-toolbar [drawer]="drawer"></app-toolbar>
  </div>
  
  <mat-sidenav-container class="main-container">
    <!-- Sidenav (Barra lateral) -->
    <mat-sidenav #drawer [opened]="media.isActive('gt-sm')" [mode]="media.isActive('gt-sm') ? 'side' : 'over'"
      hasBackdrop="false">
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <!-- Contenido -->
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
