.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

/* .sidenav-right {
  max-width: 400px;
  min-width: 302px;
} */

.main-content {
  width: -webkit-fill-available;
}