<div gdAreas="header | content | footer" gdGap="16px" gdRows="auto auto auto">
  <mat-toolbar color="primary" class="app-header" gdArea="header">
    <mat-toolbar-row>
      <span>Pagina en Angular</span>
      <span class="example-spacer"></span>
      <a mat-button routerLink="login" routerLinkActive="active">Login</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Registrarse</a>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet gdArea="content"></router-outlet>
</div>
