.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

@media only screen and (max-width: 599px) {
  .sidenav-right {
    width: 25%;
  }
}

@media only screen and (min-width: 600px) {
  .sidenav-right {
    align-items: center;
    width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .sidenav-right {
    align-items: center;
    width: 16%;
  }
}

@media only screen and (min-width: 992px) {
  .sidenav-right {
    align-items: center;
    width: 12%;
  }
}



.main-content {
  width: -webkit-fill-available;
  scroll-behavior: smooth;
}

.button-sky {
  position: fixed;
  bottom: 4%;
  right: 4%;
  z-index: 1;
}