

<div *ngIf="post_data" class="main-container">
  <form [formGroup]="form" (ngSubmit)="editar(form.value)">
    
    <mat-form-field appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput type="text" placeholder="Titulo" formControlName="title" required>
      <mat-error *ngIf="form.controls.title.invalid">{{errors_messages.email}}</mat-error>
      <mat-icon matSuffix>title</mat-icon>
    </mat-form-field>

    <editor [formControlName]="post_text" [initialValue]="post_data.post_text" [init]="{
      plugins: 'codesample image code table anchor charmap directionality emoticons hr imagetools insertdatetime media autoresize
      importcss nonbreaking pagebreak paste preview print quickbars save searchreplace toc visualblocks wordcount
      visualchars',
      image_title: true,
      image_advtab: true,
      convert_urls: false,
      height: '400',
      media_live_embeds: true,
      codesample_global_prismjs: true
    }"></editor>
  
  </form>
</div>