@media only screen and (min-width: 600px) {
  .main-container {
    align-items: center;
    width: 70%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 599px) {
  .main-container {
    align-items: center;
    width: 90%;
    margin: 20px auto;
  }
}

mat-form-field {
  width: 100%;
}

.action-buttons-container {
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
}

.edit-buttons {
  float: right;
  margin-left: 10px;
}

::ng-deep .tox-tinymce {
  border-radius: 5px !important;
}