<div fxLayout="column" fxLayoutAlign="space-around center">
  <h3 mat-dialog-title>Login</h3>
  <div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="login(form.value)" class="card-login">
      <div fxLayout="column" fxLayoutGap="5px">

        <mat-form-field *ngFor="let field of form_iterator" appearance="outline">
          <mat-label>{{field.label}}</mat-label>
          <input matInput type={{field.type}} placeholder={{field.placeholder}} formControlName={{field.control}}>
          <mat-error *ngIf="form.controls[field.control].invalid">{{field.error}}</mat-error>
          <mat-icon matSuffix>{{field.icon}}</mat-icon>
        </mat-form-field>
        
        <div fxLayout="row" fxLayoutAlign="end center">
          <a mat-button mat-raised-button color="warn" class="button-login" (click)="onClose()">
            Cancelar
          </a>
          <button mat-button mat-raised-button class="button-login" color="primary" [disabled]="form.invalid"
            (click)="login(form.value)">
            <mat-icon>input</mat-icon> Enviar
          </button>
        </div>

        <span *ngIf="error" class="error-span">{{error}}</span>

      </div>
    </form>
  </div>
</div>
