<div fxLayout="row" fxLayoutAlign="space-around center">
<mat-list fxFlex="90" fxFlex.gt-sm="50">
  <div fxLayout="column" fxLayoutAlign="space-around center">
  <div mat-subheader>Ultimos post publicados</div>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let post of posts">
    <img *ngIf="post.avatar_url" matListAvatar src="{{ post.avatar_url }}">
    <img *ngIf="!post.avatar_url" matListAvatar src="/static/images/default.png">
    <a [routerLink]="['/profile']" routerLinkActive="router-link-active" >
      <mat-icon color="warn">delete</mat-icon>
    </a>
    <a [routerLink]="['/edit_profile']" routerLinkActive="router-link-active" >
      <mat-icon color="primary">edit</mat-icon>
    </a>
    <a [routerLink]="['/register']" routerLinkActive="router-link-active" >
      <mat-icon color="primary">remove_red_eye</mat-icon>
    </a>
    <div mat-line>{{post.title}}</div>
    <div mat-line> {{post.post_date | date}} </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  </div>
</mat-list>
</div>