.main-container {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.comment-userdata {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

.comment-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.form-tinymce {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.static-comment{
    text-align: initial;
    width: 100%;
}

.comment-button1 {
    min-width: auto;
    padding: 0;
}

.comment-button2-div {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.avatar-image {
  border-radius: 100%;
  width: 100%;
  max-width: 50px;
  height: auto;
}

p {
    margin: 0;
}

::ng-deep .tox-tinymce {
  border-radius: 5px !important;
}