{% extends 'admin/mybase.html' %}

{% block access_control %}
{% endblock access_control %}

{% block main_menu %}
{% endblock main_menu %}


{% block body %}

<div class="container-fluid">
  <div class="row">
    <form action="{{ url_for('login.admin_login') }}" method="POST" class="col-md-4 col-md-offset-4">
      
      <div class="text-center" style="margin-bottom: 10px;">
        <h2> Panel de administracion </h2>
      </div>

      <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
      {{ form.csrf_token }}

      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
        {% if form.username.errors %}
        <ul>
          {% for error in form.username.errors %}
          <li><span class="red-text text-darken-1">{{ error }}</span></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="form-group">
        <i class="fas fa-key"></i>
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
        <ul style="list-style-type: none; color: red; margin-top: 20px;">
          {% for error in form.password.errors %}
          <li><i class="glyphicon glyphicon-remove"></i>
              {{ error }}</span></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="checkbox">
        <label>
          {{ form.recordar }}Remember Me
        </label>
      </div>

      <button type="submit" class="btn btn-default">Acceder</button>

    </form>
  </div>
</div>
{% endblock body %}