<div class="main-container">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="80">
    <h1>Lista de pokemons</h1>
    <div *ngIf="pokemon_ob" fxLayout="row wrap" fxLayoutAlign="center center" #MyContainer>
      <mat-card fxLayout="column" fxLayoutAlign="center center" *ngFor="let pokemon of (pokemon_ob | async); index as i"
        (click)="pokemons_details(pokemon)" [@fadeInOutAnimation]>
        <img loading="lazy" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{i+1}}.png"
          height="95px">
        <mat-card-content class="pokemon-span">
          <span >#{{ i+1 }} - {{ pokemon.name | titlecase }}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div class="div-spinner" *ngIf="loading">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <div *ngIf="error_connection" class="error-div">
    <span class="error-connection">Error de conexion, intenta de nuevo.</span>
    <button mat-button mat-raised-button color="warn" (click)="morePokemons()"> Try again.</button>
  </div>
</div>