<div fxLayout="column" fxLayoutAlign="center center" fxFlex="80" fxFlexOffset="10">
  <div *ngIf="pokemon_ob" fxLayout="row wrap" (scroll)="morePokemons($event)" class="div-container" #MyContainer>
    <mat-card fxLayout="column" fxLayoutAlign="center center" *ngFor="let pokemon of (pokemon_ob | async)">
      <img loading="lazy" src="{{pokemon.sprites.front_default}}" height="100px">
      <mat-card-content>
        {{pokemon.name}}
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <button (click)="palCielo()">Subirla</button>
  </div>
</div>

<mat-spinner *ngIf="loading" [diameter]="40"></mat-spinner>