<div fxLayout="row" fxLayoutAlign="center center" *ngIf="userdata">
  <mat-card fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="stretch stretch" fxFlex.gt-md="50"
    fxFlex.gt-sm="60" fxFlex.gt-xs="80" fxFlex="90">

    <div class="div-avatar" fxLayout="column" fxLayoutAlign="space-around center" fxFlex="35">
      <div *ngIf="userdata.avatar_url" mat-card-avatar class="example-header-image"
        style="background-image: url('{{ userdata.avatar_url }}');">
      </div>
      <div *ngIf="!userdata.avatar_url" mat-card-avatar class="example-header-image"
        style="background-image: url('/static/images/default.png');"></div>
      <mat-list fxLayout="column" fxLayoutAlign="start stretch">
        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Usuario -->
          <mat-list-item class="text-white">
            <div mat-line> Usuario </div>
            <div mat-line> {{ userdata.username }} </div>
          </mat-list-item>
        </div>
      </mat-list>
      <a mat-button mat-raised-button [routerLink]="['/edit_profile']" routerLinkActive="router-link-active">EDITAR</a>
    </div>
          
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">

      <mat-list fxLayout="column" fxLayoutAlign="start stretch">
        
        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Nombre y apellido -->
          <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line> Nombre </div>
            <div mat-line> {{ userdata.first_name }} {{ userdata.last_name }} </div>
          </mat-list-item>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Correo -->
          <mat-list-item>
            <mat-icon mat-list-icon>mail</mat-icon>
            <div mat-line> Correo </div>
            <div mat-line> {{ userdata.email }} </div>
          </mat-list-item>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Genero -->
          <mat-list-item>
            <mat-icon mat-list-icon>wc</mat-icon>
            <div mat-line> Genero </div>
            <div mat-line> {{ userdata.gender }} </div>
          </mat-list-item>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Localizacion -->
          <mat-list-item>
            <mat-icon mat-list-icon>location_city</mat-icon>
            <div mat-line> Localizacion </div>
            <div mat-line> {{ userdata.location }} </div>
          </mat-list-item>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50">
          <!-- Informacion -->
          <mat-list-item>
            <mat-icon mat-list-icon>info</mat-icon>
            <div mat-line> Informacion </div>
            <div mat-line> {{ userdata.information }} </div>
          </mat-list-item>
        </div>

      </mat-list>

    </mat-card-content>

  </mat-card>
</div>
