<div class="main-container">
  <div class="content-container">
    <h1 class="title">Eliminar post</h1>
    <div class="data-container">
      <span>Titulo: {{data.title}}</span>
      <span>Fecha: {{data.post_date | date}}</span>
      <span class="question">¿Estas seguro que deseas eliminar este post?</span>
    </div>
  </div>

  <div class="buttons-container">
    <a mat-button mat-raised-button color="warn" (click)="onClose()">
      Cancelar
    </a>
    <a mat-button mat-raised-button color="primary" (click)="delete()">
      Borrar
    </a>

  </div>
</div>
