.pokemon-type {
    background: #95e471;
    border-radius: 50px;
    border-style: none;
    border-color: #000000;
    box-shadow: inset 0px 0px 6px 2px #000;
    text-align: center;
    padding: 7px;
    color: #eee;
    font-size: 16pt;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.pokemon-name {
    padding: 7px;
    text-align: center;
    color: #eee;
    font-size: 25pt;
    text-shadow: 1px 1px 0px #000,
    -1px -1px 0px #000,
    1px -1px 0px #000,
    -1px 1px 0px #000;
}

.close-modal {
    color: #000;
    background-color: #eee;
    position: fixed;
    top: 12%;
    right: 4%;
}

.pokemon-content {
    max-height: 65vh;
    align-items: center;
}

.pokemon-img {
    max-width: 290px;
    height: auto;
}

::ng-deep .pokemon-dialog .mat-dialog-container {
    border-style: solid;
    border-color: #3f51b5;
    border-width: 5px;
    border-radius: 30px;
}

.types-div {
    width: 120px;
}

.hw-div {
    color: #eee;
    font-size: 16pt;
    text-shadow: 1px 1px 0px #000,
    -1px -1px 0px #000,
    1px -1px 0px #000,
    -1px 1px 0px #000;
}

.hw-number {
    text-align: right;
    padding-bottom: 20px;
}

.hw-name {
    text-align: left;
    margin-top: -10px;
}
