<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="fetched_data" class="main-div" [@fadeInOutAnimation]>
  
  <label class="pokemon-name">{{ fetched_data.name | titlecase }}</label>
  
  <div mat-dialog-content fxLayout.gt-xs="row wrap" fxLayout="column" class="pokemon-content" fxLayoutGap.gt-xs="24px"
    fxLayoutGap="0px">
    
    <div fxLayout="column">
      <img src="https://pokeres.bastionbot.org/images/pokemon/{{fetched_data.id}}.png" class="pokemon-img">
    </div>

    <div fxLayout="column">
      <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="5px" class="hw-div">
        <span class="hw-name">Height:</span>
        <span class="hw-number">{{fetched_data.height/10 | number: '1.1-2'}} m</span>
        <span class="hw-name">Weight:</span>
        <span class="hw-number">{{fetched_data.weight/10 | number: '1.1-2'}} kg</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="5px" class="types-div">
        <label *ngFor="let types of fetched_data.types" class="pokemon-type" appPokemonTypes
          [pokemon_type]="types.type.name">
          {{types.type.name | uppercase}}
        </label>
      </div>
    </div>
  </div>
  
  <button mat-mini-fab (click)="onClose()" class="close-modal">
    <mat-icon>close</mat-icon>
  </button>

</div>
