<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular-Flask</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/static/angular/styles.a737f64ede1bf1f4cef8.css"></head>
<body class="mat-typography">
  <app-root></app-root>
<script src="/static/angular/runtime-es2015.5f3b9f0b99b16be7c4cb.js" type="module"></script><script src="/static/angular/runtime-es5.5f3b9f0b99b16be7c4cb.js" nomodule defer></script><script src="/static/angular/polyfills-es5.6aa744a8472e3acb9be3.js" nomodule defer></script><script src="/static/angular/polyfills-es2015.141df2e5d5b3b5cee232.js" type="module"></script><script src="/static/angular/main-es2015.cb3bae06603249abc982.js" type="module"></script><script src="/static/angular/main-es5.cb3bae06603249abc982.js" nomodule defer></script></body>
</html>
