<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/static/angular/styles.a737f64ede1bf1f4cef8.css"></head>
<body class="mat-typography">
  <app-root></app-root>
<script src="/static/angular/runtime-es2015.bcb267bb51ba58c2f792.js" type="module"></script><script src="/static/angular/runtime-es5.bcb267bb51ba58c2f792.js" nomodule defer></script><script src="/static/angular/polyfills-es5.b6628c0378073d20b94e.js" nomodule defer></script><script src="/static/angular/polyfills-es2015.8824ee8e7376ddf58659.js" type="module"></script><script src="/static/angular/main-es2015.baaeb5452ffcc3dcc59a.js" type="module"></script><script src="/static/angular/main-es5.baaeb5452ffcc3dcc59a.js" nomodule defer></script></body>
</html>
