@media only screen and (min-width: 600px) {
  .main-container {
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 599px) {
  .main-container {
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}

.post-title {
    margin-top: 10px;
    text-align: center;
}

.tags-div {
  width: 100%;
  display: inline-block;
}

.comments-div {
  width: 100%;
  text-align: center;
}