
<div *ngIf="post_data" class="main-container">
  
  <h1 class="post-title" [@fadeInOutAnimation]>{{ post_data.title }}</h1>
  
  <app-post-content [post_content]="post_data.post_text" [@fadeInOutAnimation]></app-post-content>
  
  <div class="tags-div" [@fadeInOutAnimation]>
    <app-content-tag *ngFor="let tag of post_data.tags" [tagName]="tag.name" [@fadeInOutAnimation]>
    </app-content-tag>
  </div>
  
  
  <div class="comments-div" *ngIf="!loading && !no_comments">
    <app-comment *ngFor="let comment_data of comments | async" [comment_data]="comment_data" [userdata]="userdata"  (alternate_emmiter)="alternar($event)"></app-comment>
  </div>
  
  <div class="div-spinner" *ngIf="loading">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  
  <div *ngIf="!loading && no_comments" class="comments-div">
    <span> Sin comentarios </span>
  </div>
  
  <div class="new-comment" *ngIf="!alternate && userdata">
    <form [formGroup]="form" (ngSubmit)="nuevoComentario(form.value)">
      <editor formControlName="content" [init]="tinymceInit()"></editor>
      <button mat-button mat-raised-button color="primary" class="new-comment-button">
        Enviar
      </button>
    </form>
  </div>

</div>
